@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    background-color: #222;
    font-family: 'Inter', sans-serif;
}

/* START CSS AREA KONTEN */
.container-top {
    position: absolute;
    width: 1349px;
    height: 550px;
    left: 0px;
    top: 75.1px;
    background: url("https://i.postimg.cc/TYpkspJH/kapal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-top h1 {
    color: #f1faee;
    top: 25%;
    position: absolute;
    padding: 4px;
    text-align: center;
    align-items: center;
    letter-spacing: 3px;
}

.container-mid {
    width: 1349px;
    height: 500px;
    left: 0px;
    /* bottom: -77.7%; */
    position: absolute;
    display: flex;
    background: #f0efeb;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin: 616px 0px;
}

.container-mid img {
    margin: 0 50px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-mid p {
    width: 1295px;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    color: #0A9396;
    text-align: justify;
    align-items: baseline;
}

.container-low {
    width: 1349px;
    height: 450px;
    background: #83c5be;
    left: 0px;
    /* bottom: -139%; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin: 1116px 0px;
}

.container-low img {
    margin-left: 1px;
    margin-right: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px 60px 25px 60px;
}

.container-low p {
    width: 1270px;
    height: auto;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #1d3557;
    text-align: justify;
    align-items: center;
    position: absolute;
    top: 15%;
}

/* AKHIR CSS AREA KONTEN */